body{

    background-color: #ebebeb;
    opacity: 0.8;
    font-family: 'Roboto', sans-serif;
}


.titulos{
    font-size: 24px;
    display: flex;
    justify-content: center;
    
    
   
}





.titulos .icono{
    color: black;
}


.barra{
    
    padding-left: 40px;
    padding-top: 10px;  
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}



.burger-menu{
    display: block;
    text-align: center;
    background-color: #03254C;
    color: blanchedalmond;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    font-size: 18px;
    margin: auto;

    
}

header{
    margin: auto;
    background-color: #EAC926;;
}


img{
    
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}


.pie{
    text-align: center;
    
}

.iconotarjeta{
    text-align: center;
}

.iconoregalo{
    text-align: center;
}

.iconoseguridad{
    text-align: center;
}

.articulos{
    
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    
    
}



.articulos{
    border-top: solid 1px #ebebeb;
}

.articulosDos{

    border-top: solid 1px #ebebeb;
    background-color: white;
    padding-left: 10px;
    position: relative;
}

.texto_articulos{
   
    padding-left: 0px;
   
}

.prueba ul {
    margin: 0;
    padding: 0;
}

.prueba a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

.banner{
    width: 100%;
}

.create-form{
    padding: 20px 15px;
}

.form{
    padding-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    
}

.form label{
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}

.control{
    width: 100%;
}

p.descripciones{
    padding-bottom: 10px;
    font-size: 16px;
}

@media (min-width: 0px) and (max-width: 360px){
    
    .prueba{
        display: none;
    }
    
}

.camion{

    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #39b54a;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    border-radius: 50%;
    top: -15px;
    right: 20px;
   
}

i.fas.fa-truck{
    display: flex;
    justify-content: center;
}

.contenedor_info_articulo{
    display: flex;
    padding-top: 20px;
}

p.precio{
    width: 30%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin: auto;
}

p.oferta{
    width: 70%;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin: auto;
    color: lightgreen;
}

p.descripciones{
    padding-bottom: 10px;
    font-size: 16px;
    
}



@media (min-width: 361px) {
    
    .articulosDos{

        border-top: solid 1px #ebebeb;
        background-color: white;
        
        
        
    }
   
    .burger-menu{
        display: none;
    }

   
    
    .contenedor_imagen_texto{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
   

}

@media (min-width: 769px) {

    .articulosDos{

        border-top: solid 1px #ebebeb;
        background-color: white;
        

    }
   
    .burger-menu{
        display: none;
    }

    .main-header    {
        
        display: flex;
        justify-content: space-between;
    }

    .copy-barra{
        max-width: 350px;
        padding-left: 40px;
        padding-top: 10px;  
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
        text-align: right;
    }

    .prueba {
        display: flex;
        
        justify-content: space-between;

    }
    
    .prueba ul{
        display: flex;
        
    }

    .prueba li{
        margin: 0 5px;
    }

    

    .total_articulos{
        display: flex;
        flex-wrap: wrap;
    }

    article.articulos{
        width: 50%;
        box-sizing: border-box;
        
    }

}
    

    


@media (min-width: 1200px) {

    .prueba, .main-header{
        max-width: 1200px;
        
        margin: auto;
    }

    .prueba li{
        margin: 0 10px;
    }

    .prueba a{
        font-size: 16px;
    }

    .copy-barra{
        max-width: none;
    }

    .logo{
        width: 150px;
    }

    .prueba{
        margin-top: 40px;
    }


   
    .total_articulos{
        display: flex;
        flex-wrap: wrap;
    }

    article.articulos{
        width: 25%;
        box-sizing: border-box;
        
    }

p.descripciones{  
    opacity: 0;
    
    transition: opacity 450ms;
    
}

p.descripciones:hover{
  opacity: 1;
    
}

.contenedor_imagen_texto{
    box-shadow: none;
    transition: box-shadow 450ms;
}

.contenedor_imagen_texto:hover{
    box-shadow: 0px 0px 10px rgb(100 100 100);
}

.boton-enviar{
   
    transition: background-color 450ms;
}

.boton-enviar:hover{
    background-color: #0022AA;
}

footer{
    display: flex;
}

.iconotarjeta{
    
    color: black;
    transition: color 450ms;
    font-size: 50px;
   
}

.iconotarjeta:hover{
    color:#EAC926;
}

.iconoregalo{
    color: black;
    transition: color 450ms;
    font-size: 50px;
}

.iconoregalo:hover{
    color:#EAC926;
}

.iconoseguridad{
    color: black;
    transition: color 450ms;
    font-size: 50px;
}

.iconoseguridad:hover{
    color:#EAC926;
}

}